@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bg-color: #ffffff;
}

/* this is the class that is applied to the grid when it is cleared.
after 1.5 seconds the class is removed */
.clear-fade {
    background-color: var(--bg-color) !important;
    transition: background-color 1.5s ease; 
}


body {
    background-color: #181818;
}

.grid-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 660px;
    height: 660px;
    background-color: #202020;
    border-radius: 4px;
}

.grid-container {
    /* box-sizing: content-box; */
    display: grid;
    height: 600px;
    width: 600px;
    /* background-color: rgb(156, 156, 156); */
    border: 1px solid rgb(156, 156, 156);
    /* border-radius: 4px; */
    /* margin-left: auto;
    margin-right: auto; */
}

.wrapper {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}
.main {
    display: flex;
    justify-content: space-evenly;
}

input[type="color"] {
    display: block;

}

button {
    display: block;
    color: rgb(62, 166, 255);
    font-weight: 500;
    font-family: roboto;
    background-color: rgba(0,0,0,0);
    font-size: 14px;
    outline: none;
    border: 1px solid rgb(62, 166, 255);
    border-radius: 2px;
    padding: 9px 15px;
}






.btn-on {
    background-color: rgb(62, 166, 255);
    color: #202020;
}

.grid-item {
    /* background-color: rgb(255, 255, 255); */
    user-select: none;
}

.border-top-left {
    border-top: 1px solid rgb(156, 156, 156);
    border-left: 1px solid rgb(156, 156, 156);
}

.border-right {
    border-right: 1px solid rgb(156, 156, 156);
}

.border-bottom {
    border-bottom: 1px solid rgb(156, 156, 156);
}

.slider-box {
    position: relative;
    width: 250px;
}

#range-value {
    position: absolute;
    top: 2px;
    right: 0px;
    padding: 2px;
    width: 40px;
    background: #fff;
    text-align: center;
}

#range-value::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    left: -5px;
    width: 10px;
    height: 10px;
    background: #fff;
}

.controls {
    width: 300px;
    background-color: #202020;
    border-radius: 4px;
}
input[type="range"] {
    width: 200px;
    height: 2px;
    background: #404040;
    appearance: none;
    outline: none;
    border-radius: 2px;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(62, 166, 255);
}



